@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Work+Sans:wght@300;400;600;700&display=swap'); 

nav {
  background-color: #333;
  padding: 12px 1em;
  display: flex;
  justify-content: end;
}
nav .links{
  display: flex;
  color: white;
  font-family: 'DM Sans';
  width: fit-content;
  /* margin-left: auto; */
  /* font-family: 'Work Sans'; */
}
nav .links > li {
  align-items: center;
  display: flex;
  margin-inline: 5px;
  cursor: pointer;
  padding: 3px;
}
nav .links > li:hover {
  color: #3582ff;
}