.app {
  width: 100%;
  display: flex;
  flex-direction: column;
}
main {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media only screen and (max-width: 1220px) {
  main {
    font-size: 0.8em;
  }
} 
/* @media only screen and (max-width: 780px) {
  main {
    font-size: 0.8em;
  }
}  */
@media only screen and (max-width: 500px) {
  main {
    font-size: 0.7em;
  }
} 